/* ========== Overall Styles ========== */
*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
 font-family: Audiowide, cursive;
 src: url(/src/fonts/Audiowide/Audiowide-Regular.ttf);
}

@font-face {
 font-family: Merriweather Sans, sans-serif;
 src: url(/src/fonts/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf);
}

html {
    font-size: 62.5%;
}

:root {
    /* This resolution from 360*640. So largeblock is 40px and it's xlDis. Thanks Mentor ^^!*/
    --tnDis: 5px;
    --smDis: 10px;
    --mdDis: 20px;
    --lgDis: 30px;
    --xlDis: 40px;

    --mainColor1: #17B0E6;
    --maincolor1D: #1289B3;
    --maincolor1L: #45BCE6;
    --whitecolor: #fafafa; 
    --whitecolor2: #f2f2f2;
    --maincolorgradient: linear-gradient(-45deg, #17B0E6 0%, #45BCE6 100%);
    --darkcolor: #404040;
    --darkcolor2: #0D0D0D;
    --mediancolor: #808080;
    --whitecolor: #fafafa;
    --subwhitecolor: #efefef;
    --redsalecolor: #EC1313;

    --font1: 'Merriweather Sans', sans-serif;
    --font2: 'Audiowide', cursive;
    --fontSize0: 4.5rem;
    --fontSize1: 3.5rem;
    --fontSize2: 2.5rem;
    --fontSize3: 1.75rem;
    --fontSize4: 1.5rem;
    --fontSize5: 1.25rem;

    --width1: 360px;
    --width2: 800px;
    --width3: 1200px;
}

.padding-all {
    padding: 10px var(--mdDis);
}

h1, p, i{
    margin-top: 0px;
}

.reset-list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.img,
video,
iframe {
    max-width: 100%;
}


body {
    margin: 0px;
    padding: 0px;
    background-color: var(--whitecolor);
    position: relative;
    min-width: 360px;    
}

body,
button,
input {
    font-family: var(--font1);
    font-size: var(--fontSize4);
    color: var(--mediancolor);
}

.max-container {
    max-width: 1140px;
    min-width: 360px;
    margin-left: auto !important;
    margin-right: auto !important;
}

a {
    text-decoration: none;
    color: var(--darkcolor2);
}

p {
    margin: 0;
    padding: 0;
}

.display-none {
    display: none;
}

.active {
    color: var(--mainColor1);
}

/* ========== Contact Us - Heading Section ========== */
.top-header{
    height: 100px;
    background-color: var(--whitecolor2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
    border-bottom: var(--mediancolor) 3px solid;
}

.logo{
    height: 60px;
}

.menu {
    display: inline;
}

.list-item {
    text-align: center;
    display: inline-block;
}

.list-item > li {
    display: inline-block;
    padding: 0px var(--mdDis);
}

.list-item .active-list > a{
    color: var(--mainColor1);
}

.list-item .active-list{
    position: relative;
}

.list-item .active-list::after{
    content: "";
    height: 5px;
    width: 38px;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
    background-image: url("/src/misc/Header-bar.png");
    top: 30px;
    transform: translate(-50%, 0);
    left: 50%;
    /* background-color: #17B0E6; */
    position: absolute;
}

.right-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.account, .search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    padding: auto;
    margin-left: var(--mdDis);
}

.search{
    padding-top: var(--tnDis);
}

.account > svg{
    height: 38px;
}

.search > svg{
    height: 30px;
}

.menu-button {
    width: 34px;
    height: 32px;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border: 2px solid var(--darkcolor2);
    border-radius: 5px;
}

.menu-button svg{
    width: 30px;
    height: 29px;
    /* fill: var(--mainColor1); */
}

@media (min-width: 960px) {
    .menu-button {
        display: none;
    }
}

@media (max-width: 960px) {
    .logo{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 60px;
    }

    .logo .desktop-logo
    {
        display: none;
    }

    .logo .tablet-logo{
        display: block;
        /* height: 40px; */
    }

    .menu{
        display: none;
    }
}

@media (max-width: 530px) {
    .logo{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 60px;
    }

    .logo .desktop-logo
    {
        display: none;
    }

    .logo .tablet-logo{
        display: none;
    }

    .logo .mobile-logo{
        display: block;
        /* height: 40px; */
    }

    .menu{
        display: none;
    }
}

/* ========== Contact Us - Breadcrumb Section ========== */
.breadcrumb{
    display: flex;
    align-items: center;
    height: 40px; 
}

.breadcrumb .hyperlink{
    text-decoration: underline;
    color: var(--mainColor1);
}

/* ========== Contact Us - FAQs Section ========== */
.contact-us{
    display: block;
    justify-content: center;
}

.contact-us .contact-headers{
    height: 100px;
    /* background-color: #0D0D0D; */
    font-family: 'Audiowide';
    font-size: var(--fontSize2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us .contact-headers .contact-text{
    height: 60px;
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #0D0D0D; */
}

.contact-us .contact-headers .contact-text::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
    background-image: url("/src/misc/heading-bar.png");
    top: 50px;
    transform: translate(-50%, 0);
    left: 50%;
    /* z-index: 4; */
}

.contact-forms{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;

}

.contact-forms .request{
    background-color: var(--whitecolor2);
    display: block;
    /* max-width: 800px; */
    padding-left: var(--mdDis);
    padding-right: var(--mdDis);
    padding-bottom: var(--mdDis);
    font-weight: 200;
}

.contact-forms .request .form-request .form-candidate{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--smDis);
    margin-bottom: var(--smDis);
}

.contact-forms .request .form-request .form-candidate label{
    padding-left: var(--smDis);
    /* background-color: #0D0D0D; */
    display: block;
    padding-bottom: var(--smDis);
    font-weight: 600;
}

.contact-forms .request .form-request .form-candidate input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: var(--mediancolor) 2px solid;
}

.contact-forms .request .form-request .form-candidate input::placeholder{
    padding-left: var(--smDis);
    color: var(--mediancolor);
    font-weight: 200;
}

.contact-forms .request .form-message{
    margin-bottom: var(--mdDis);
}

.contact-forms .request .form-message label{
    padding-left: var(--smDis);
    /* background-color: #0D0D0D; */
    display: block;
    padding-bottom: var(--smDis);
    font-weight: 600;
}

.contact-forms .request .form-message input{
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: var(--mediancolor) 2px solid;
    position: relative;
}

.contact-forms .request .form-message input::placeholder{
    padding-left: var(--smDis);
    color: var(--mediancolor);
    font-weight: 200;
    position: absolute;
    top: var(--smDis);
}

.contact-forms .request .submit-button{
    height: 40px;
    margin: var(--smDis) 0 0 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: var(--smDis) 0;
    font-weight: 600;
    font-size: var(--fontSize3);
    color: var(--whitecolor);
    background-color: #17B0E6;
}

.contact-forms .request .title-request{
    padding: var(--mdDis) 0 var(--smDis) 0;
    font-size: var(--fontSize3);
    font-weight: 600;
}

.contact-forms .request .subtitle-request{
    padding: 0 0 var(--smDis) 0;
    font-size: var(--fontSize4);
    font-weight: 200;
}

.contact-forms .reachus{
    background-color: var(--mainColor1);
    color: var(--whitecolor);
    font-weight: 200;
}

.contact-forms .reachus .title-reachus{
    padding: var(--mdDis) var(--mdDis) var(--lgDis) var(--mdDis);
    font-size: var(--fontSize3);
    font-weight: 600;
}

.contact-forms .reachus table{
    padding: var(--mdDis);
}

.contact-forms .reachus table tr td:first-child{
    padding-right: var(--smDis);
    display: flex;    
}

@media (max-width: 880px) {
    .contact-forms{
        display: block;
        width: 100%;
    }
}

/* ========== Product Details - Footer Section ========== */
.footer{
    background-color: #1289B3;
    display: block;
}

.footer .footer-info{
    display: flex;
    /* justify-content: flex-start;  */
    align-items: center;
}

.footer .footer-info .company-description .company-logo{
    height: 80px;
    padding-bottom: var(--smDis);
}

.footer .footer-info .company-description .company-social svg{
    padding-right: var(--smDis);    
    height: 30px;
}

.footer .footer-info .footer-index{
    color: var(--whitecolor);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-left: var(--xlDis);
    padding-top: var(--mdDis);
}

.footer .footer-info .footer-index ul li{
    padding-bottom: var(--smDis);
    padding-left: var(--smDis);
}

.footer .footer-info .footer-index ul li a{
    font-size: var(--fontSize4);
    font-weight: 200;
    color: var(--whitecolor);
}

.footer .footer-info .footer-index ul li .title-index{
    font-weight: 600;
    font-size: var(--fontSize3);
}

.footer .footer-info .footer-index ul li:first-child{
    padding-left: 0px;
}

.footer-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--smDis) 0;
    padding: var(--smDis) 0;
    border-top: solid 1px var(--whitecolor2);
    border-bottom: solid 1px var(--whitecolor2);
    color: var(--whitecolor);
}

.footer-copyright .back-to-top{
    background-color: var(--maincolor1L);
    border: 3px solid var(--whitecolor);
    border-radius: 3px;
    display: flex;
    align-items: center;
    color: var(--whitecolor);
    margin-right: var(--smDis);
}

.footer-copyright .back-to-top svg{
    padding-right: var(--smDis);
}

@media (max-width: 880px) { 
    .footer .footer-info{
        display: block;
        /* justify-content: flex-start;  */
        align-items: center;
    }

    .footer .footer-info .company-description{
        display: block;
        width: 100%;
        margin: var(--smDis) auto 0 auto;
    }

    .footer .footer-info .company-description div{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .footer .footer-info .footer-index{
        margin-left: 0px;
        padding-top: var(--mdDis);
    }
}

@media (max-width: 570px) { 
    .footer .footer-info{
        display: block;
        /* justify-content: flex-start;  */
        align-items: center;
    }

    .footer .footer-info .company-description{
        display: block;
        width: 100%;
        margin: var(--smDis) auto 0 auto;
    }

    .footer .footer-info .company-description div{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .footer .footer-info .footer-index{
        margin-left: 0px;
        padding-top: var(--mdDis);
        display: block;
        gap: var(--mdDis);
    }
}