/* ========== Overall Styles ========== */
*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
 font-family: Audiowide, cursive;
 src: url(/src/fonts/Audiowide/Audiowide-Regular.ttf);
}

@font-face {
 font-family: Merriweather Sans, sans-serif;
 src: url(/src/fonts/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf);
}

html {
    font-size: 62.5%;
}

:root {
    /* This resolution from 360*640. So largeblock is 40px and it's xlDis. Thanks Mentor ^^!*/
    --tnDis: 5px;
    --smDis: 10px;
    --mdDis: 20px;
    --lgDis: 30px;
    --xlDis: 40px;

    --mainColor1: #17B0E6;
    --maincolor1D: #1289B3;
    --maincolor1L: #45BCE6;
    --whitecolor: #fafafa; 
    --whitecolor2: #f2f2f2;
    --maincolorgradient: linear-gradient(-45deg, #17B0E6 0%, #45BCE6 100%);
    --darkcolor: #404040;
    --darkcolor2: #0D0D0D;
    --mediancolor: #808080;
    --whitecolor: #fafafa;
    --subwhitecolor: #efefef;
    --redsalecolor: #EC1313;

    --font1: 'Merriweather Sans', sans-serif;
    --font2: 'Audiowide', cursive;
    --fontSize0: 4.5rem;
    --fontSize1: 3.5rem;
    --fontSize2: 2.5rem;
    --fontSize3: 1.75rem;
    --fontSize4: 1.5rem;
    --fontSize5: 1.25rem;

    --width1: 360px;
    --width2: 800px;
    --width3: 1200px;
}

.padding-all {
    padding: 10px var(--mdDis);
}

h1, p, i{
    margin-top: 0px;
}

.reset-list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.img,
video,
iframe {
    max-width: 100%;
}


body {
    margin: 0px;
    padding: 0px;
    background-color: var(--whitecolor);
    position: relative;
    min-width: 360px;    
}

body,
button,
input {
    font-family: var(--font1);
    font-size: var(--fontSize4);
    color: var(--mediancolor);
}

.max-container {
    max-width: 1140px;
    min-width: 360px;
    margin-left: auto !important;
    margin-right: auto !important;
}

a {
    text-decoration: none;
    color: var(--darkcolor2);
}

p {
    margin: 0;
    padding: 0;
}

.display-none {
    display: none;
}

.active {
    color: var(--mainColor1);
}

/* ========== Products Page - Heading Section ========== */
.top-header{
    height: 100px;
    background-color: var(--whitecolor2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
    border-bottom: var(--mediancolor) 3px solid;
}

.logo{
    height: 60px;
}

.menu {
    display: inline;
}

.list-item {
    text-align: center;
    display: inline-block;
}

.list-item > li {
    display: inline-block;
    padding: 0px var(--mdDis);
}

.list-item .active-list > a{
    color: var(--mainColor1);
}

.list-item .active-list{
    position: relative;
}

.list-item .active-list::after{
    content: "";
    height: 5px;
    width: 38px;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
    background-image: url("/src/misc/Header-bar.png");
    top: 30px;
    transform: translate(-50%, 0);
    left: 50%;
    /* background-color: #17B0E6; */
    position: absolute;
}

.right-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.account, .search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    padding: auto;
    margin-left: var(--mdDis);
}

.search{
    padding-top: var(--tnDis);
}

.account > svg{
    height: 38px;
}

.search > svg{
    height: 30px;
}

.menu-button {
    width: 34px;
    height: 32px;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border: 2px solid var(--darkcolor2);
    border-radius: 5px;
}

.menu-button svg{
    width: 30px;
    height: 29px;
    /* fill: var(--mainColor1); */
}

@media (min-width: 960px) {
    .menu-button {
        display: none;
    }
}

@media (max-width: 960px) {
    .logo{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 60px;
    }

    .logo .desktop-logo
    {
        display: none;
    }

    .logo .tablet-logo{
        display: block;
        /* height: 40px; */
    }

    .menu{
        display: none;
    }
}

@media (max-width: 530px) {
    .logo{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 60px;
    }

    .logo .desktop-logo
    {
        display: none;
    }

    .logo .tablet-logo{
        display: none;
    }

    .logo .mobile-logo{
        display: block;
        /* height: 40px; */
    }

    .menu{
        display: none;
    }
}

/* ========== Products Page - Breadcrumb Section ========== */
.breadcrumb{
    height: 40px;
    display: flex;
    align-items: center;
}

.breadcrumb .hyperlink{
    text-decoration: underline;
    color: var(--mainColor1);
}

/* ========== Homepage - Top-Banner Section ========== */
.top-banner{
    height: 350px;
    width: 100%;
    /* z-index: -1; */
    /* background-color: var(--darkcolor); */
}

.top-banner .swiper{
    /* z-index: -1; */
    height: 100%;
    width: 100%;
}

.top-banner .banner1{
    background-image: url("/src/banner.img/banner1.png");
    position: relative;
    display: flex;
    align-items: center;
    /* padding-left: var(--xlDis); */
}

.top-banner .banner2{
    background-image: url("/src/banner.img/banner2.png");
    position: relative;
    display: flex;
    align-items: center;
    /* padding-left: var(--xlDis); */
}

.top-banner .banner3{
    background-image: url("/src/banner.img/banner3.png");
    position: relative;
    display: flex;
    align-items: center;
    /* padding-left: var(--xlDis); */
}

.top-banner .banner4{
    background-image: url("/src/banner.img/banner4.png");
    position: relative;
    display: flex;
    align-items: center;
    /* padding-left: var(--xlDis); */
}

.top-banner .banner5{
    background-image: url("/src/banner.img/banner5.png");
    position: relative;
    display: flex;
    align-items: center;
    /* padding-left: var(--xlDis); */
}

.top-banner .swiper-slide .banner-content{
    display: flex;
    flex-direction: column;
    gap: var(--smDis);
    margin: 0 var(--xlDis);
    /* min-width: 600px; */
    width: 100%;
}

.top-banner .swiper-slide .title-banner{
    /* background-color: tomato; */
    /* height: auto; */
    /* width: auto; */
    /* max-width: 600px; */
    font-family: var(--font2);
    display: block;
    font-size: var(--fontSize1);
    color: var(--whitecolor);
    /* position: absolute; */
    /* top: 38%; */
}

.top-banner .swiper-slide .description-banner{
    /* background-color: tomato; */
    /* height: auto; */
    /* width: auto; */
    /* max-width: 600px; */
    display: block;
    color: var(--whitecolor);
    /* position: absolute; */
    /* top: 48%; */
}

.top-banner .swiper-slide .banner-button{
    display: block;
    /* margin: auto; */
    background-color: var(--maincolor1D);
    border: var(--whitecolor2) solid 3px;
    border-radius: 5px;
    height: 48px;
    width: 150px;
    /* max-width: 600px; */
    color: var(--whitecolor);
    font-size: var(--fontSize3);
    /* position: absolute; */
    /* top: 55%; */
}

.top-banner .swiper-slide .banner-button a{
    color: var(--whitecolor);
    font-size: var(--fontSize3);
}

.top-banner .swiper-slide .small-text-banner{
    position: absolute;
    bottom: 14px;
    left: 165px;
    color: var(--whitecolor);
}

.top-banner .swiper-pagination{
    text-align: left;
    padding-left: var(--mdDis);
}

.top-banner .swiper-pagination .swiper-pagination-bullet{
    height: 20px;
    width: 20px;
    border: var(--whitecolor2) 2px solid;
    border-radius: 5px;
}

/*  */

@media (max-width: 880px){
    .top-banner .swiper-slide .banner-content{
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0 var(--xlDis);
    }

    .top-banner .swiper-slide .banner-content .banner-button{
        display: block;
        margin: auto;
    }
}

/* ========== Products Page - Product Section ========== */
.products-page{
    display: grid;
    grid-template-columns: 290px auto;
    width: 100%;
    padding: 0 var(--smDis) var(--lgDis) var(--smDis);
    gap: var(--mdDis);
}

.filter-column{
    min-width: 290px;
    display: block;
}

.filter-column .filter-header{
    height: 100px;
    /* background-color: #0D0D0D; */
    font-size: var(--fontSize2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-column .filter-header .filter-header-text{
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Audiowide';
    /* background-color: #0D0D0D; */
    padding-left: var(--mdDis);
}

.filter-column .filter-header .filter-header-text::before{
    content: "";
    position: absolute;
    height: 65px;
    width: 9px;
    background-repeat: no-repeat;
    background-image: url("/src/misc/Header-bar-2.png");
    /* transform: translate(-50%, 0); */
    /* top: -50%; */
    left: 0px;
}

.filter-column .filter-option{
    background-color: var(--whitecolor2);
    padding: var(--smDis);
    display: block;
}

.filter-column .filter-option .filter-text{
    font-size: var(--fontSize4);
    padding-bottom: var(--smDis);
    font-weight: 600;
}

.filter-column .filter-option .type-filter{
    display: block;
    padding-bottom: var(--smDis);
}

.filter-column .filter-option .type-filter .typeform-control{
    align-items: center;
    /* justify-content: center; */
    display: flex;
    padding-bottom: var(--tnDis);
    gap: var(--tnDis);
    font-weight: 200;
}

/* .filter-column .filter-option .type-filter .typeform-control input[type='checkbox']:checked {
    background-color: var(--mainColor1);
}

.filter-column .filter-option .type-filter .typeform-control input[type='checkbox']:checked {
    content: 'x';
    color: white;
} */

.filter-column .filter-option .type-filter .typeform-control input[type='checkbox']{
    /* text-align: center;
    display: table-cell;
    vertical-align: middle; */
    width: 20px !important;
    height: 20px !important;
    /* appearance: none !important; */
    /* border-radius: 2px;
    border: 2px solid var(--darkcolor2);
    box-shadow: none;
    font-size: 1em; */
}

.filter-column .filter-option .type-filter .filter-input{
    display: block;
    position: relative;
}

.filter-column .filter-option .type-filter .filter-input .price-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.filter-column .filter-option .type-filter .filter-input .price-input input{
    width: 100px;
    height: 26px;
    padding: 0 5px;
}

.filter-column .filter-option .type-filter .filter-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.slider-input{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
    margin: var(--mdDis);
}

.slider-input .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: var(--mainColor1);
}

.slider-input .range-input{
    position: relative;
}

.slider-input .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.slider-input .range-input input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    margin-top: var(--tnDis);
    background: var(--mainColor1);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  
.slider-input .range-input input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: var(--mainColor1);
    pointer-events: auto;
    margin-top: var(--tnDis);
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

/*  */

.filter-column .filter-option .type-filter .filter-input .input-text{
    display: flex;
    height: 40px;
    width: 100%;
    padding-left: var(--smDis);
    padding-right: 50px;
    border-radius: 5px;
    margin-bottom: var(--smDis);
}

.filter-column .filter-option .type-filter .filter-input button{
    position: absolute;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor1);
    color: var(--whitecolor);
    border: none;
    border-radius: 5px;
    top: 1px;
    right: 0.5px;
}

/*  */

.products-column{
    max-width: 790px;
    display: block;
    width: 100%;
    overflow: hidden !important;
}

.products-column .products-header{
    height: 100px;
    /* background-color: #0D0D0D; */
    font-size: var(--fontSize2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-column .products-header .products-header-text{
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Audiowide';
    /* background-color: #0D0D0D; */
    padding-left: var(--mdDis);
}

.products-column .products-header .products-header-text::before{
    content: "";
    position: absolute;
    height: 65px;
    width: 9px;
    background-repeat: no-repeat;
    background-image: url("/src/misc/Header-bar-2.png");
    /* transform: translate(-50%, 0); */
    /* top: -50%; */
    left: 0px;
}

.products-column .products-header .filter-button{
    padding: var(--smDis) var(--lgDis);
    background-color: var(--mainColor1);
    font-weight: 600;
    color: var(--whitecolor);
    border-radius: 5px;
    border: none;
}

/*  */

.products-column .products-containers{
    height: 790px;
    /* max-width: 790px; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
}

.products-column .products-containers .swiper-wrapper .swiper-slide{
    height: 250px;
    width: 250px;
    position: relative;
    border-radius: 15px;
    border: var(--mediancolor) 2px solid;
    display: block;
}

.products-column .products-containers .swiper-wrapper .swiper-slide .sale-btn{
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: var(--smDis);
    left: var(--tnDis);
}

.products-column .products-containers .swiper-wrapper .swiper-slide .add-to-cart-btn{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--whitecolor);
    border: 2px solid var(--mainColor1);
    border-radius: 5px;
    position: absolute;
    top: var(--smDis);
    right: var(--smDis);
}

.products-column .products-containers .swiper-wrapper .swiper-slide .more-info-btn{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--whitecolor);
    border: 2px solid var(--mainColor1);
    border-radius: 5px;
    position: absolute;
    top: 52px;
    right: var(--smDis);
}

.products-column .products-containers .swiper-wrapper .swiper-slide .heart-btn{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--whitecolor);
    border: 2px solid var(--mainColor1);
    border-radius: 5px;
    position: absolute;
    bottom: var(--smDis);
    right: var(--smDis);
}

.products-column .products-containers .swiper-wrapper .swiper-slide .product-description{
    height: auto;
    display: block;
    margin-right: var(--smDis);
    position: absolute;
    bottom: var(--smDis);
    left: var(--smDis);
}

.products-column .products-containers .swiper-wrapper .swiper-slide .product-image{
    position: absolute;
    transform: translate(-50%,0);
    top: 5%;
    left: 50%;
    z-index: -1;
}

@media (max-width: 810px){
    .products-column .products-header .filter-button{
        display: block;
    }

    .filter-column{
        display: none;
    }

    .products-page{
        display: block;
    }
}


/* ========== Products Page - Footer Section ========== */
.footer{
    background-color: #1289B3;
    display: block;
}

.footer .footer-info{
    display: flex;
    /* justify-content: flex-start;  */
    align-items: center;
}

.footer .footer-info .company-description .company-logo{
    height: 80px;
    padding-bottom: var(--smDis);
}

.footer .footer-info .company-description .company-social svg{
    padding-right: var(--smDis);    
    height: 30px;
}

.footer .footer-info .footer-index{
    color: var(--whitecolor);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-left: var(--xlDis);
    padding-top: var(--mdDis);
}

.footer .footer-info .footer-index ul li{
    padding-bottom: var(--smDis);
    padding-left: var(--smDis);
}

.footer .footer-info .footer-index ul li a{
    font-size: var(--fontSize4);
    font-weight: 200;
    color: var(--whitecolor);
}

.footer .footer-info .footer-index ul li .title-index{
    font-weight: 600;
    font-size: var(--fontSize3);
}

.footer .footer-info .footer-index ul li:first-child{
    padding-left: 0px;
}

.footer-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--smDis) 0;
    padding: var(--smDis) 0;
    border-top: solid 1px var(--whitecolor2);
    border-bottom: solid 1px var(--whitecolor2);
    color: var(--whitecolor);
}

.footer-copyright .back-to-top{
    background-color: var(--maincolor1L);
    border: 3px solid var(--whitecolor);
    border-radius: 3px;
    display: flex;
    align-items: center;
    color: var(--whitecolor);
    margin-right: var(--smDis);
}

.footer-copyright .back-to-top svg{
    padding-right: var(--smDis);
}

@media (max-width: 880px) { 
    .footer .footer-info{
        display: block;
        /* justify-content: flex-start;  */
        align-items: center;
    }

    .footer .footer-info .company-description{
        display: block;
        width: 100%;
        margin: var(--smDis) auto 0 auto;
    }

    .footer .footer-info .company-description div{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .footer .footer-info .footer-index{
        margin-left: 0px;
        padding-top: var(--mdDis);
    }
}

@media (max-width: 570px) { 
    .footer .footer-info{
        display: block;
        /* justify-content: flex-start;  */
        align-items: center;
    }

    .footer .footer-info .company-description{
        display: block;
        width: 100%;
        margin: var(--smDis) auto 0 auto;
    }

    .footer .footer-info .company-description div{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .footer .footer-info .footer-index{
        margin-left: 0px;
        padding-top: var(--mdDis);
        display: block;
        gap: var(--mdDis);
    }
}