/* ========== Overall Styles ========== */
*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
 font-family: Audiowide, cursive;
 src: url(/src/fonts/Audiowide/Audiowide-Regular.ttf);
}

@font-face {
 font-family: Merriweather Sans, sans-serif;
 src: url(/src/fonts/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf);
}

html {
    font-size: 62.5%;
}

:root {
    /* This resolution from 360*640. So largeblock is 40px and it's xlDis. Thanks Mentor ^^!*/
    --tnDis: 5px;
    --smDis: 10px;
    --mdDis: 20px;
    --lgDis: 30px;
    --xlDis: 40px;

    --mainColor1: #17B0E6;
    --maincolor1D: #1289B3;
    --maincolor1L: #45BCE6;
    --whitecolor: #fafafa; 
    --whitecolor2: #f2f2f2;
    --maincolorgradient: linear-gradient(-45deg, #17B0E6 0%, #45BCE6 100%);
    --darkcolor: #404040;
    --darkcolor2: #0D0D0D;
    --mediancolor: #808080;
    --whitecolor: #fafafa;
    --subwhitecolor: #efefef;
    --redsalecolor: #EC1313;

    --font1: 'Merriweather Sans', sans-serif;
    --font2: 'Audiowide', cursive;
    --fontSize0: 4.5rem;
    --fontSize1: 3.5rem;
    --fontSize2: 2.5rem;
    --fontSize3: 1.75rem;
    --fontSize4: 1.5rem;
    --fontSize5: 1.25rem;

    --width1: 360px;
    --width2: 800px;
    --width3: 1200px;
}

.padding-all {
    padding: 10px var(--mdDis);
}

h1, p, i{
    margin-top: 0px;
}

.reset-list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.img,
video,
iframe {
    max-width: 100%;
}


body {
    margin: 0px;
    padding: 0px;
    background-color: var(--whitecolor);
    position: relative;
    
}

body,
button,
input {
    font-family: var(--font1);
    font-size: var(--fontSize4);
    color: var(--mediancolor);
}

.max-container {
    max-width: 1140px;
    min-width: 360px;
    margin-left: auto !important;
    margin-right: auto !important;
}

a {
    text-decoration: none;
    color: var(--darkcolor2);
}

p {
    margin: 0;
    padding: 0;
}

.display-none {
    display: none;
}

.active {
    color: var(--mainColor1);
}

/*Filter styles*/
.saturate {
    filter: saturate(3);
}

.grayscale {
    filter: grayscale(100%);
}

.contrast {
    filter: contrast(160%);
}

.brightness {
    filter: brightness(0.25);
}

.blur {
    filter: blur(3px);
}

.invert {
    filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
}

.huerotate {
    filter: hue-rotate(180deg);
}

.rss.opacity {
    filter: opacity(50%);
}

/* ========== Product Details - Heading Section ========== */
.top-header{
    height: 100px;
    background-color: var(--whitecolor2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
    border-bottom: var(--mediancolor) 3px solid;
}

.logo{
    height: 60px;
}

.menu {
    display: inline;
}

.list-item {
    text-align: center;
    display: inline-block;
}

.list-item > li {
    display: inline-block;
    padding: 0px var(--mdDis);
}

.list-item .active-list > a{
    color: var(--mainColor1);
}

.list-item .active-list{
    position: relative;
}

.list-item .active-list::after{
    content: "";
    height: 5px;
    width: 38px;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
    background-image: url("/src/misc/Header-bar.png");
    top: 30px;
    transform: translate(-50%, 0);
    left: 50%;
    /* background-color: #17B0E6; */
    position: absolute;
}

.right-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.account, .search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    padding: auto;
    margin-left: var(--mdDis);
}

.search{
    padding-top: var(--tnDis);
}

.account > svg{
    height: 38px;
}

.search > svg{
    height: 30px;
}

/* ========== Product Details - Breadcrumb Section ========== */
.breadcrumb{
    display: flex;
    align-items: center;
    height: 40px; 
}

.breadcrumb .hyperlink{
    text-decoration: underline;
    color: var(--mainColor1);
}

/* ========== Product Details - FAQs Section ========== */
.products-details{
    display: block;
    padding-top: 0px;
}

.products-display{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--lgDis);
    width: 100%;
    font-weight: 200;
    /* background-color: #404040; */
}

.products-display .left-col{
    display: block;
    max-width: 550px;
}

.products-display .left-col .swiper {
    width: 100%;
    height: auto;
}

.products-display .left-col .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.left-col .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.left-col .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.left-col .swiper-slide {
    background-size: cover;
    background-position: center;
}

.left-col .mySwiper2 {
    height: 80%;
    width: 100%;
}

.left-col .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.left-col .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.left-col .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products-display .right-col{
    width: 100%;
    max-width: 800px;
    display: block;
}

.products-display .right-col .products-intro{
    padding-top: var(--smDis);
    padding-bottom: var(--smDis);
    text-align: justify;
    text-justify: inter-word;
}

.products-display .right-col .products-price{
    background-color: var(--subwhitecolor);
    font-size: var(--fontSize1);
    /* font-family: var(--font1); */
    font-weight: 500;
    padding: var(--smDis);
    color: var(--mainColor1)
}

.products-display .right-col .products-button{
    padding-top: var(--smDis);
    padding-bottom: var(--smDis);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-display .right-col .products-button .quantity{
    display: flex;
    gap: var(--smDis);
    align-items: center;
}

.products-display .right-col .products-button .quantity button{
    background-color: var(--whitecolor);
    color: var(--mainColor1);
    font-size: var(--fontSize2);
    height: 40px;
    width: 40px;
    font-weight: 800;
    border-radius: 5px;
}

.products-display .right-col .products-button .quantity .num-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 60px;
    font-weight: 800;
    border-radius: 5px;
    font-size: var(--fontSize3);
    border: 2px solid var(--darkcolor2);
}

.products-display .right-col .products-button .add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: var(--smDis);
    height: 40px;
    /* font-weight: 800; */
    padding: 0 var(--smDis);
    border-radius: 5px;
    font-size: var(--fontSize4);
    /* border: 2px solid var(--darkcolor2); */
    border: none;
    background-color: var(--mainColor1);
    color: var(--whitecolor2);
    fill: var(--whitecolor2);
}

.products-display .right-col .products-name{
    font-family: var(--font2);
    font-size: var(--fontSize2);
}

.products-display .right-col .products-spec{
    display: block;
    width: 100%;
}

.products-display .right-col .products-spec table{
    width: 100%;
    margin: var(--smDis) 0;
    border: none;
    border-collapse: collapse;
}

.products-display .right-col .products-spec table tr:nth-child(even) {
    background-color: var(--subwhitecolor);
}

.products-display .right-col .products-spec table tr td:first-child{
    border-right: 2px solid var(--mediancolor);
    width: fit-content;
}

.products-display .right-col .products-spec table tr td:last-child{
    padding-left: var(--smDis);
}

.products-display .right-col .products-spec .hyperlink{
    margin-top: var(--smDis);
    text-align: center;
    display: block;
    font-size: var(--fontSize5);
    text-decoration: underline;
    color: var(--mainColor1);
}

.products-details .feature-headers{
    height: 100px;
    /* background-color: #0D0D0D; */
    font-family: 'Audiowide';
    font-size: var(--fontSize2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-details .feature-headers .feature-text{
    height: 60px;
    width: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #0D0D0D; */
}

.products-details .feature-headers .feature-text::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
    background-image: url("/src/misc/heading-bar.png");
    top: 50px;
    transform: translate(-50%, 0);
    left: 50%;
    /* z-index: 4; */
}

.products-details .products-feature{
    display: block;
    font-weight: 200;
}

.products-details .products-feature .feature1{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--whitecolor2);
    width: 100%;
    padding: var(--xlDis) 0;
}

.products-details .products-feature .feature1 p{
    max-width: 650px;
}

.products-details .products-feature .feature2{
    display: flex;
    gap: var(--xlDis);
    padding: var(--xlDis);
    background-color: var(--maincolor1L);
    color: var(--whitecolor);
    justify-content: center;
}

.products-details .products-feature .feature2 p{
    display: block;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

.products-details .products-feature .feature3{
    display: flex;
    gap: var(--xlDis);
    padding: var(--xlDis);
    background-color: var(--whitecolor2);
    color: var(--darkcolor2);
    justify-content: center;
}

.products-details .products-feature .feature3 p{
    display: block;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

.products-details .products-feature .feature4{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--maincolor1L);
    width: 100%;
    padding: var(--xlDis) 0;
    color: var(--whitecolor);
}

.products-details .products-feature .feature4 p{
    max-width: 650px;
}

.products-details .products-feature .feature5{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--whitecolor2);
    width: 100%;
    padding: var(--xlDis) 0;
}

.products-details .products-feature .feature5 p{
    max-width: 650px;
}

/* ========== Product Details - Footer Section ========== */
.footer{
    background-color: #1289B3;
    display: block;
}

.footer .footer-info{
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.footer .footer-info .company-description .company-logo{
    height: 80px;
    padding-bottom: var(--smDis);
}

.footer .footer-info .company-description .company-social svg{
    padding-right: var(--smDis);    
    height: 30px;
}

.footer .footer-info .footer-index{
    color: var(--whitecolor);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-left: var(--xlDis);
    padding-top: var(--mdDis);
}

.footer .footer-info .footer-index ul li{
    padding-bottom: var(--smDis);
    padding-left: var(--smDis);
}

.footer .footer-info .footer-index ul li a{
    font-size: var(--fontSize4);
    font-weight: 200;
    color: var(--whitecolor);
}

.footer .footer-info .footer-index ul li .title-index{
    font-weight: 600;
    font-size: var(--fontSize3);
}

.footer .footer-info .footer-index ul li:first-child{
    padding-left: 0px;
}

.footer-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--smDis) 0;
    padding: var(--smDis) 0;
    border-top: solid 1px var(--whitecolor2);
    border-bottom: solid 1px var(--whitecolor2);
    color: var(--whitecolor);
}

.footer-copyright .back-to-top{
    background-color: var(--maincolor1L);
    border: 3px solid var(--whitecolor);
    border-radius: 3px;
    display: flex;
    align-items: center;
    color: var(--whitecolor);
    margin-right: var(--smDis);
}

.footer-copyright .back-to-top svg{
    padding-right: var(--smDis);
}